<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules" Description="Code analysis rules" ToolsVersion="15.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>